name: test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: ^1.21.5
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go mod download -x
      - run: go test -v ./... -race -bench=. -benchmem -cover -coverprofile cover.out 2>&1 | tee test.out
      - run: go tool cover -func cover.out
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: ^1.21.5
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go mod download -x
      - run: go mod tidy && git diff --exit-code go.mod go.sum
      - run: go vet ./...
      - uses: dominikh/staticcheck-action@v1.3.0
        with:
          install-go: false
      - uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: >
            --enable
            asasalint,bidichk,dupword,errchkjson,godot,gofumpt,gosec,gosimple,ineffassign,misspell,loggercheck,revive,unused
            --disable
            errcheck
